<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="product-in-cart">
      <img class="product-in-cart-img" src="../images/image-product-1-thumbnail.jpg" alt="">
      <div>
        <p>Fall Limited Edition Sneakers</p>
        <p>$125.00 x 3 <span class="bold very-dark-blue">$375.00</span></p>
      </div>
      <div>
        <img src="../images/icon-delete.svg" alt="">
      </div>
    </div>
  <button class="btn product__add btn--checkout">Checkoout</button>
</body>
</html>